@media (min-width: 1px) and (max-width: 767px) {
.cd-sidebar > div {margin-bottom: 10px;}

.cd-sidebar-menu {height: 50px;}
.cd-sidebar-menu {padding-top: 5px;}

.cd-sidebar-menu > div {float: left !important;}
.cd-sidebar-menu > div > a {text-decoration: none;}

.cd-btn-1,
.cd-btn-2,
.cd-btn-3,
.cd-btn-4 {
	display: block;
	margin-left: 10px;
	width: 110px;
	height: 40px;
	background-image: url(../images/sidebar/btn-sm.jpg)}

.cd-btn-1 {margin-left: 5px;}

.cd-btn-1 {background-position: 0 0;}
.cd-btn-2 {background-position: 0 -40px;}
.cd-btn-3 {background-position: 0 -80px;}
.cd-btn-4 {background-position: 0 -120px;}

.cd-btn-1 span,
.cd-btn-2 span,
.cd-btn-3 span,
.cd-btn-4 span {
	display: block;
	width: 110px;
	height: 40px;
	color: #fff;
	font-size: 15px;
	line-height: 40px;
	font-weight: 600;
	text-align: center;
	text-shadow: 0 0 7px rgba(0,0,0, .45);}

.cd-btn-1 span:hover {background-color: rgba(38,154,208, 0.65);}
.cd-btn-2 span:hover {background-color: rgba(66,177,154, 0.65);}
.cd-btn-3 span:hover {background-color: rgba(255,221,92, 0.65);}
.cd-btn-4 span:hover {background-color: rgba(221,97,85, 0.65);}
}
