@media (min-width: 1px) and (max-width: 767px) {
.cd-header-banner {height: 120px;}
.cd-header-banner:hover {box-shadow: 0 0 15px rgba(0,0,0, .35);}

.cd-header-banner a {
	display: block;
	width: 480px;
	height: 120px;
	text-align: justify;
	background-image: url(http://fakeimg.pl/480x120/f5f5f5/555/?text=480x120&font=lobster);}
}
