
@{
    ViewBag.Title = "Login";
}

<div id="loginarea" >
    <div class="col-md-2 col-md-offset-5 col-sm-3 col-sm-offset-4">
        <form>
            <div class="row">
                <div class="form-group">
                    <label for="loginPlaceholder">Имя пользователя</label>
                    <input id="loginPlaceholder" class="form-control" placeholder="Введите имя пользователя или адрес электронной почты">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="passwordPlaceholder">Пароль</label>
                    <input id="passwordPlaceholder" class="form-control" placeholder="Введите пароль здесь" type="password">
                </div>
            </div>
            <div class="row text-right">
                @Html.ActionLink("Забыли пароль?", "ForgotPassword")&nbsp;
                <button class="btn btn-default" type="submit">Войти</button>
            </div>
        </form>
    </div>
</div>



