<div class="col-md-50 col-sm-50 hidden-lg cd-sidebar">
    <div class="cd-block-style cd-sidebar-menu">
        <div><a class="cd-btn-1" href="#"><span>ИРЦ</span></a></div>
        <div><a class="cd-btn-2" href="#"><span>Школа</span></a></div>
        <div><a class="cd-btn-3" href="#"><span>Диагностика</span></a></div>
        <div><a class="cd-btn-4" href="#"><span>Родителям</span></a></div>
    </div>
</div>
