<div class="col-lg-12 col-lg-offset-1 visible-lg cd-sidebar">
    <div class="cd-block-style cd-sidebar-menu">
        <div><a class="cd-btn-1" href="#"><span>ИРЦ</span></a></div>
        <div><a class="cd-btn-2" href="#"><span>Школа</span></a></div>
        <div><a class="cd-btn-3" href="#"><span>Диагностика</span></a></div>
        <div><a class="cd-btn-4" href="#"><span>Родителям</span></a></div>
    </div>
    <div class="cd-block-style cd-sidebar-banner ">
        <a href="#"><img src="http://fakeimg.pl/240x80/f5f5f5/555/?text=sidebar banner 240x80&font=lobster"></a>
    </div>
</div>