<div class="col-lg-12 col-lg-offset-1 visible-lg cd-social">
    <a class="pull-left" href="#"><div class="cd-social-btn-1"></div></a>
    <a class="pull-left" href="#"><div class="cd-social-btn-2"></div></a>
    <a class="pull-left" href="#"><div class="cd-social-btn-3"></div></a>
    <a class="pull-left" href="#"><div class="cd-social-btn-4"></div></a>
    <a class="pull-left" href="#"><div class="cd-social-btn-5"></div></a>
</div>
